<?xml version="1.0" encoding="utf-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-2.5.xsd
				http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">


<bean id="department" class="com.hsp.collection.Department">
	<property name="name" value="财务部"/>
	<!--给数组注入值-->
	<property name="empName" >
		<list>
			<value>小明</value>
			<value>大明</value>
			<value>大大明</value>
		</list>
	</property>
	<!--给list注入值，可以重复-->
	<property name="empList">
		<list>
			<ref bean="emp1"/>
			<ref bean="emp2"/>
			<ref bean="emp2"/>
			<ref bean="emp2"/>
			<ref bean="emp1"/>
		</list>
	</property>
	<!--给set注入值，不能有相同的对象，会覆盖-->
	<property name="empSet">
		<set>
			<ref bean="emp1"/>
			<ref bean="emp2"/>
			<ref bean="emp1"/>
			<ref bean="emp2"/>
		</set>
	</property>
	<!--给map注入值，会覆盖，但只要key不一样就不会被覆盖，就可以装配value-->
	<property name="empMaps">
		<map>
			<entry key="1" value-ref="emp1"/>
			<entry key="2" value-ref="emp2"/>
			<entry key="2" value-ref="emp1"/>

		</map>
	</property>

</bean>

<bean id="emp1" class="com.hsp.collection.Employee">
	<property name="name" value="北京"/>
	<property name="id" value="1"/>
</bean>

<bean id="emp2" class="com.hsp.collection.Employee">
	<property name="name" value="天津"/>
	<property name="id" value="2"/>
</bean>


</beans>